* { margin: 0; padding: 0; }
body { font: 16px Helvetica, Sans-Serif; 
line-height: 24px; 
background:  #FFFFFF; }
h1, h2, p,form {
    text-align: center;
    color: Green;
}
ul {
    text-align: center;
}
table {
    text-align: left;
    color: #663399;
}